@model MusicStore.Domain.Entities.Order
<table class="order">
    <tr>
        <td width="100px">@Model.Username</td>
        <td width="100px">@Model.Recipient</td>
        <td width="300px">@Model.Address</td>
        <td width="300px">@Model.Lines</td>
        <td width="100px">@Model.PaymentOption</td>
        <td width="100px">฿@Model.TotalPrice</td>
        <td width="100px">@Model.Datetime</td>
    </tr>
</table>